<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.12/lottie.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <section class="login-section">
            <div class="row">
                <div class="col-lg-6 col-md-12 bg-primary rounded-start text-center">
                    <div class="login-section__lottie">
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_xlmz9xwm.json"  background="transparent"  speed=".75"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 bg-light rounded-end">
                    <div class="login-section__form p-5">
                        <h2 class="mb-4">Login</h2>
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
                            <div class="text-center mb-3">Or</div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-6 mb-2">
                                    <button class="btn btn-danger w-100"><i class="fab fa-google me-2"></i>Login with Google</button>
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <button class="btn btn-primary w-100"><i class="fab fa-facebook-f me-2"></i>Login with Facebook</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
